services:
  gh-matrix:
    build:
      context: ../../
      dockerfile: devtools/graphhopper-build/Dockerfile
    container_name: gh-matrix
    volumes:
      - ../../osm-data/europe:/app/osm
      - ./graph-cache:/app/graph-cache
    ports:
      - "8080:8080"
    environment:
      - JAVA_OPTS=-Xms40g -Xmx40g
    restart: unless-stopped
